<!-- TMPL_INCLUDE name='header.tmpl' -->
    <style type="text/css" title="layout" media="screen"> @import url("/admin/css/form.css"); </style>
    <script type="text/javascript" src="/admin/js/common.js"></script>
  </head>

  <body>
   <div id="cont">
      <div id="cabecera">
	<div class='bbl'><div class='bbr'><div class='btl'><div class='btr'>
          <h1>Añadir banner a zeinu.tv</h1>
	</div></div></div></div>
      </div>
      <div id="cuerpo">
	<p><a href="/admin/" title="Inicio">&laquo;Volver a la administraci&oacute;n</a></p>
        <fieldset class='formulario'>
          <legend class='leyenda'>Sube los ficheros al servidor</legend>
    	  <form action="/admin/bin/add_banner.cgi" method="post" enctype="multipart/form-data" name='form_add_banner'>
	    <div class='notes'><h4><img src='/imagenes/note.png' alt="Notas de interés." title="Notas" />Notas</h4><p>Los campos en negrita, son obligatorios.</p><p>Los banner tienen que estar en formato PNG. Puedes añadir un título como "Cursos de Lengua de Signos" o similar :)</p></div>
            <div class='nreq'><label for='tites'>T&iacute;tulo ES: </label><input type='text' id='tites' name='tites' maxlength='100' size='20' value='' placeholder='Proporciona un título a este banner' /></div>
	    <div class='nreq'><label for='titeu'>T&iacute;tulo EU: </label><input type='text' id='titeu' name='titeu' maxlength='100' size='20' value='' placeholder='Jartzazu banner_aren izenburua' /></div>
	    <br />
            <div class='req'><label for='file_es'>Banner ES: </label><input type='file' id='file_es' name='file_es' size='20' /></div>
            <div class='req'><label for='file_eu'>Banner EU: </label><input type='file' id='file_eu' name='file_eu' size='20' /></div>
	    <input type='hidden' name='what' value='add' />
            <br />
	    <div id='progress'><input class='button' type='button' onclick='go_to("index")' value='Cancelar' /><input id='upload' type='submit' name='submit' onclick='return check("add_banner");' value='Guardar' /></div>
    	  </form>
        </fieldset>
	<p><a href="/admin/" title="Inicio">&laquo;Volver a la administraci&oacute;n</a></p>
      </div>
<!-- TMPL_INCLUDE name='footer.tmpl' -->  
    </div>
  </body>
</html>

