<!-- TMPL_INCLUDE name='header.tmpl' -->
  </head>

  <body>
    <div id="cont">
      <div id="cabecera">
      </div>
      <div id="cuerpo">

<!-- ERRORES -->
        <!-- TMPL_IF name='errores' -->
	  <div class='negro secciones titulo'>
	    <h2>Error</h2>
	  </div>
          <!-- TMPL_VAR name='errores' -->
        <!-- /TMPL_IF -->

<!-- RESULTADO VIDEO -->
        <!-- TMPL_IF name='titulo' -->
	  <div class='video titulo secciones'>
	    <h2>A&ntilde;adida correctamente</h2>
	  </div>
	  <h4>Estos son algunos de los datos de la noticia a&ntilde;adida:</h4>
	  <p>
	    T&iacute;tulo: <!-- TMPL_VAR name='titulo' --><br />
	    Categor&iacute;a: <!-- TMPL_VAR name='categoria' --><br />
	    Duraci&oacute;n: <!-- TMPL_VAR name='duracion' --><br />
	    Forma parte de la parrilla: <!-- TMPL_VAR name='parrilla' --><br />
	  </p>
	<!-- /TMPL_IF -->

<!-- RESULTADO VIDEO RESUMEN -->
        <!-- TMPL_IF name='contenido' -->
	  <div class='video titulo secciones'>
	    <h2>A&ntilde;adida correctamente</h2>
	  </div>
	  <p><!-- TMPL_VAR name='contenido' --></p>
	<!-- /TMPL_IF -->

        <div class='navegacion'>
	  <p><a href="/admin/bin/add_vid.cgi?what=index" title="Añadir vídeo">&laquo;A&ntilde;adir una nueva noticia</a></p>
	  <p><a href="/admin/" title="Inicio">&laquo;Volver a la administraci&oacute;n</a></p>
	</div>
      </div>
<!-- TMPL_INCLUDE name='footer.tmpl' -->  
    </div>
  </body>
</html>
