/* General */
body{margin:0;padding:0;font-family:"Arial","Freesans";background-image:url(/imagenes/bdyBck.jpg);background-repeat:repeat;color:#323232}
ul{list-style-type:none;width:100%;margin:0;padding-left:10px}
li{display:inline}
div.cie, div#txt h2{clear:both}

/* Hipercube */
div#hcb{width:950px;margin:0 auto}

/* Watermark */
div#wmk{width:150px;height:934px;float:left;position:relative;left:-150px}

/* Cube */
div#cube {width:950px;position:absolute;background-image:url(../imagenes/fndCube.jpg);height:auto;}
div#pub, div#cab, div#cue, div#pie{width:951px}

/* Banners */
div#ban {width:930px;height:92px;margin:0 auto;padding:0.5em 0}

/* Cabecera */
a.grey{text-decoration:none;color:#323232;font-weight:bold}
a.grey:hover{text-decoration:underline}
div#cab h1{margin:0;padding:0.5em 10px;font-size:2.5em;display:inline;position:relative;z-index:2}
div#cab h2{font-size:1em;margin:0 10px;padding:0.5em 0;font-weight:lighter;text-align:center;position:relative;z-index:0;color:#CCC}
div#no-video{text-align:center}
p.no-video{font-weight:bold}
span.logo{color:#fff;position:relative;z-index:2}
div#cab img{position:relative;left:10px}

/* Cuerpo */
div#vid,div#nav,div.img,div.not{float:left}
div#vid{margin-top:25px; padding:0 5px 0 10px;position:relative}
div#txt{width:475px;height:220px;font-size:0.8em;text-align:justify;overflow:auto;margin-bottom:0.5em;padding-left:0.5em}
div#txt h1{font-size:1.3em;font-variant:small-caps}
div#txt h2{border:0;margin:0;font-size:1.1em;font-weight:normal;text-align:left}
div#txt ul{list-style-type:disc;padding-left:0}
div#txt li{display:list-item;margin-left:10px}
p.new{padding-right:1em}
p.det{margin:0.2em 0 0 0;font-size:0.7em;color:#000}

/* Navegador de vídeos (listado) */
.ite{height:100px;width:410px;font-size:1.1em;float:left;margin-left:10px;cursor:pointer}
.news_header{display:block;width:255px;margin:0}
.ite img {margin:0 10px 5px 0px}
.ite p.news_header:hover {background:#999999;text-decoration:none} /*BG color is a must for IE6*/
.ite p.news_header span {display:none;padding:2px 3px;margin-left:8px;width:160px}
.ite p.txt,.ite p.desc{display:none}
.ite p.news_header:hover span{display:inline;position:absolute;background:#ffffff;border:1px solid #cccccc;color:#6c6c6c}
.ite img {border:0}
.calendar{float:right;padding:0px 30px 10px 25px}
.calendar caption{font-weight:bold}
.calendar th{font-weight:normal}
.calendar td{background-color:#efefef}
.dia-especial a {font-weight:bold;text-decoration:none;display:block;background-color:#efefef}
.dia-especial a:hover{background-color:#fff}
#mostrador{cursor:pointer;padding-left:10px}
div.jp-interface div.jp-controls-holder{margin-bottom:10px}

/* jPlayer */
.jp-playlist ul{position:absolute;left:10px;width:482px;z-index:1000}
.jp-playlist ul li{display:block}
.jp-playlist ul li a{color:#BBBBBB;text-decoration:none}
.jp-playlist ul li.jp-playlist-current a{color:#FFFFFF;padding-left:10px}

/* Pie */
div#pie div {clear:both;color:#fff;margin:0px 10px;font-size:0.8em; background-color:#FFF;}
div#pie a {margin-right:0px;color:#333;text-decoration:none}
div#pie a:hover {text-decoration:underline}
div#pie img {border:0}
div#info {text-align:right;padding:10px 10px 10px 10px;background-color:#EDEDED}

/* Fecha lista noticias */
.det_fecha{float:right;margin-top:-15px;font-size:12px;font-weight:bold;margin-right:10px}

li.sec a{text-decoration:none;float:left;width:128px;height:50px;margin:0px 2px 0 2px;padding: 24px 0 4px 0px;background-image: url(../imagenes/btn.jpg);background-repeat:no-repeat;font-weight:normal;font-size:0.7em;text-align:center;color:#FFF;text-transform:uppercase}

.fb-share-button{width:120px}
.fb-share-button span,.fb-share-button iframe {width:120px! important;height:20px! important;}
