/* General */
body{margin:0;padding:0;font-family:"Arial","Freesans";background-image:url(/imagenes/bdyBck.jpg);background-repeat:repeat;color:#323232}
ul{list-style-type:none;width:100%;margin:0;padding-left:10px}
li{display:inline}
div.cie{clear:both}

/* Hipercube */
div#hcb{width:950px;margin:0 auto}

/* Watermark */
div#wmk{width:0;height:0;left:0px}
div#hcb{width:100%;background:url(/imagenes/logo-left.jpg) no-repeat transparent;background-position:0px 15px;text-align:center}
div#cube{width:950px;margin:0 auto;background-color:#fff;position:relative}
div#pub, div#cab, div#cue, div#pie{width:950px;text-align:left}

/* Banners */
div#ban{width:930px;height:92px;margin:0 auto;padding:0.5em 0}

/* Cabecera */
a.grey{text-decoration:none;color:#323232;font-weight:bold}
a.grey:hover{text-decoration:underline}
div#cab h1{margin:0;padding:0.5em 10px;font-size:2.5em;display:inline;position:relative;z-index:2}
div#cab h2{font-size:0.9em;margin:0 10px;padding:0.5em 0;border-top:0px solid;font-weight:lighter;text-align:center;position:relative;z-index:0}
div#no-video{text-align:center}
p.no-video{font-weight:bold}
span.logo{color:#fff;position:relative;z-index:2}
div#cab img{position:relative;margin-left:0px}

/* Cuerpo */
div#vid, div#nav, div.img, div.not{float:left;margin-top:8px}
div#vid{padding:0 5px 0 10px;position:relative}
div#txt{width:475px;height:220px;font-size:0.8em;text-align:justify;overflow:auto;margin-bottom:0.5em}
div#txt h1{font-size:1.3em;font-variant:small-caps}
div#txt h2{border:0;margin:0;font-size:1.1em;font-weight:normal;text-align:left}
p.new{padding-right:1em}
p.det{margin:0.2em 0 0 0;font-size:0.7em;color:#000}

/* Navegador de vídeos (listado) */
.ite{height:100px;width:410px;font-size:1.2em;float:left;margin-left:10px;cursor:pointer}
.news_header{display:block;width:255px;margin:0}
.ite img {margin:0 10px 5px 0px}
.ite p.news_header:hover {background:#999999;text-decoration:none} /*BG color is a must for IE6*/
.ite p.news_header span {display:none;padding:2px 3px;margin-left:8px;width:160px}
.ite p.txt,.ite p.desc{display:none}
.ite p.news_header:hover span{display:inline;position:absolute;background:#ffffff;border:1px solid #cccccc;color:#6c6c6c}
.ite img {border:0}
.calendar{float:right;padding:0px 30px 10px 25px}
.calendar caption{font-weight:bold}
.calendar th{font-weight:normal}
.calendar td{background-color:#efefef}
.dia-especial a {font-weight:bold;text-decoration:none;display:block;background-color:#efefef}
.dia-especial a:hover{background-color:#fff}
#mostrador{cursor:pointer;padding-left:10px}
div.jp-interface div.jp-controls-holder{margin-bottom:10px}

/* jPlayer */
.jp-playlist ul{position:absolute;left:10px;width:482px;z-index:1000}
.jp-playlist ul li{display:block}
.jp-playlist ul li a{color:#BBBBBB;text-decoration:none}
.jp-playlist ul li.jp-playlist-current a{color:#FFFFFF;padding-left:10px}

/* Pie */
div#pie{margin-top:10px}
div#pie div{color:#fff;margin:0 10px;font-size:0.8em}
div#pie a{margin-right:40px;color:#fff;text-decoration:none}
div#pie a:hover{text-decoration:underline}
div#pie img{border:0}
div#logos{text-align:center;padding:10px 10px 0 10px}
div#info{text-align:right;padding:0 10px 10px 10px}
#bbk{display:block;width:113px;height:75px;text-indent:-99999px;float:left;background:url(/imagenes/bbk.png)}
.ite{height:100px;width:410px;font-size:1.2em;float:left;margin-left:5px}
.titulito{display:block;width:255px}
.ite img{margin:0 5px 0px 0px}
.ite a.titulito{text-decoration:none;vertical-align:top;color:#000}
.ite a.titulito:hover{text-decoration:underline}
.ite a.lista_video img{border:0}
.ite a.titulito:hover{background:#999999;text-decoration:none} /*BG color is a must for IE6*/
.ite a.titulito span{display:none;padding:2px 3px;margin-left:8px;width:160px}
.ite a.titulito:hover span{display:inline;position:absolute;background:#ffffff;border:1px solid #cccccc;color:#6c6c6c}
.calendar{float:right;padding:0px 30px 10px 25px;margin-right:30px;margin-bottom:10px}
.calendar caption{font-weight:bold}
.calendar th{font-weight:normal}
.calendar td{background-color:#efefef}
