
li.sec a:hover {
  background-image: url(../imagenes/btnHov.jpg);
  background-repeat:no-repeat;
  color:#F30;
}

div#fhi {
	clear: left;
	margin: 0px 10px 0 30px;
	padding: 0px 0 10px 0;
	font-size: 0.9em;
	color:#666;

}

div#fhi a {
	padding-left:4px;
	padding-right:4px;
	background-color:#090 ;
	color:#FFF;
}

div#cab h2 {
	background-image: url(../imagenes/fndArc.jpg);	
	color:#F30;	
}

/* Pié */

#logos {
	text-align: center;
	padding: 10px 10px 0 10px;
	background-image: url(../imagenes/fndPie-es.jpg);
}

ul.tabbernav li a {
	padding: 4px 1em;
	margin-left: 3px;
	border-bottom: none;
	text-decoration: none;
	border-bottom:1px solid #EDEDED;
	
	

}
ul.tabbernav li a:link {
	color: #333;
	background-color:#CCC;
	
}
ul.tabbernav li a:visited {
	color: #999;
}
ul.tabbernav li a:hover {
	color: #F30;
}
ul.tabbernav li.tabberactive a {
	background-color: #F30;
	color: #FFF;
	text-transform:uppercase;
}
ul.tabbernav li.tabberactive a:hover {
	color: #FFF;
	background-color: #F30;
}