li.sec a {
  text-decoration: none;
  float: left;
  width: 128px;
  margin-left: 0px;
  padding: 15px 0 4px 4px;
  background-image: url(../imagenes/btn.jpg);
  color: #090;
  font-weight: bold;
  font-size: 0.8em;
  border-left:1px solid #5b5b5d;
}



div#fhi {
  float: left;
  margin: 10px 9px 0 10px;
  padding: 10px 5px 10px 0;
  font-size: 0.9em;
  border-top: 5px solid #FFFFFF;
}


/* Pié */
div#pie div {
  background-color: #333;
}
