@charset "UTF-8";/**
 * Fichero CSS del sitio web http://www.zeinu.tv/
 *
 *
 * @copyright       Copyright 2008-2014, Federación Vasca de Asociaciones de Personas Sordas de Bilbao y Bizkaia - Euskalgorrak.
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 * @link            http://www.zeinu.tv
 * @version         2.0
 * @revision        $Revision:2 $
 * @lastmodified    $Date:2013-12-11 22:48:32 +0100 (Wed, 11. Dec 2013) $
 **/

/* General layout */
html *{font-size:100.01%}
*{padding:0;margin:0}
body{font-family:"Arial", "Freesans";color:#323232; background-image:url(/imagenes/bdyBck.jpg); background-repeat:repeat; text-align:center}
div#container{width:740px;height:700px;margin:0 auto;text-align:center;background-image:url(../imagenes/fondoIndex.jpg)}
/* Header */
div#title{text-align:left}
h1, span.logo, img{position:relative;display:inline}
h1, span.logo{z-index:2}
h1{font-size:600%}
span.logo{color:#fff}
img{top:23px;left:60px;margin-bottom:20px}

h2{text-align:center; font-weight:normal;}
p#ini{text-align:center;margin:1em 0 3em 0}
div#vid{width:480px;margin-left:135px}
#es, #eu, a{text-decoration:none}
a{color:#323232}
#es:hover, #eu:hover, a:hover{text-decoration:underline}
#es{color:#F30;font-weight:normal; text-transform:uppercase;}
#eu{color:#360;font-weight:normal; text-transform:uppercase;}
