/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
  display:none;
}
/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
	width:442px;
	float:left;
	background-image: url(../imagenes/fndTab.jpg);
	background-repeat:no-repeat;
	overflow:hidden;
}
/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav {  
  margin:20px 10px 0px 10px;
  padding: 4px 0;
  font:  12px Verdana, sans-serif;
  border-bottom:1px solid #EDEDED;
  width:410px;
}
ul.tabbernav li {
  list-style: none;
  margin: 0;
  display: inline;
  text-align:center;
  

}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
  padding:10px 0 0 0;
  margin-top:8px;
  border-top:0;
  width: 440px;
  height: 465px;
  overflow: auto;
 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */
 /* height:200px; */
 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */
 /* overflow:auto; */
}
/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
  height:200px;
  overflow:auto;
}
