/*
LICENCIA, por hacer
*/

/* General */
body{font-family:"URW Gothic L", arial, verdana;margin:0;padding:0 1em}
h1{padding:0 0.5em}
h2{padding:0.5em}
p{margin:10px 0;padding:0.6em 0}
div.titulo{background-color:#ffb94f;color:#fff}
div.video, div.navegacion a{background-color:#47a1da}
div.categoria{background-color:#47b94b}
div.negro{background-color:#000000}
div.config{background-color:#AF1A19}
div.secciones,div.navegacion a{border-radius:10px}
div.secciones a,div.navegacion a{color:#fff;padding:0.5em 0 0.5em 1em}
div.navegacion a{padding-right:1em}
div.date{background-color:transparent;color:#000;text-align:right;padding:0 1em;font-weight:bold}
div.image{float:left;padding:10px}
div.verbs{margin-left:70px}
div.section{margin-bottom:20px;background-color:#B5D7EB}
span.info{font-weight:bold}
div.flota{float:left}
div.flota img{margin:0 10px 0 2px}
div.new a, div.section a{font-size:0.7em;text-decoration:none;color:#696969}
div.new{height:82px;background-color:#E6E6E6}
span.tit{font-size:1.3em}
div.sepa{clear:both}
div#status, div#ticpar_resul{color:#fff;font-weight:bold;text-align:center}
div#ticpar_resul{background-color:#667799;margin-left:9.5em}
div#status{background-color:#47B94B}
