/*
LICENCIA,por hacer
*/

/* General */

body{font-family:"URW Gothic L",arial,verdana;margin:0;padding:0 1em}

fieldset{border-color:#000000;border-width:1px 0 0 0}
legend{font-size:1.2em}
form{margin-top:1.2em}

div.notes{background-color:#FFFFE1;border:1px solid #666666;color:#666666;font-family:monospace;font-size:100%;float:right;margin:0 2%;padding:0 2%;width:25%}
div.notes h4{border-bottom:1px solid #000000}
div.notes img{margin-right:2%}

form div{clear:left;display:block;width:600px}
form div.lreq{font-weight:bold;width:900px}
div#progress{margin-left:9em}
div#progress input,div.req{font-weight:bold}
form div.req label,form div.nreq label,form div.lreq label{display:block;float:left;text-align:right;width:9em;padding-right:5px}
form div.req textarea.long{width:675px}

/* EDIT form */
div.req-edit,div.lreq-edit{width:900px}
form.edit label{width:9em;float:left;text-align:right;margin-right:0.5em;display:block}
div#buttons{margin-left:9.5em}
input.button{font-weight:bold;margin-top:10px;margin-right:10px}
.req-edit,.lreq-edit{font-weight:bold}
